.App {
  background-color: #282c34;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/green-gradient-triangles-pattern.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  padding-bottom: 5vh;
}

main > h1 {
  margin-top: 0vh;
}

main > h3 {
  font-size: 5vh;
  text-align: center;
  color: #2ad497;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

main > h4 {
  font-size: 5vh;
  text-align: center;
}

p > span {
  font-size: 5vh;
  cursor: pointer;
}

p > span:hover {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

.grid-column {
  width: 30vw;
  margin: 3vh auto;
}

.green-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #2ad497;
  border: 0px;
  border-radius: 25px;
  color: black;
  font-size: inherit;
  overflow: hidden;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: inherit;
  text-transform: uppercase;
  width: 100%;
  word-break: keep-all;
  cursor: pointer;
  transition: linear 0.2s;
}

.green-button:hover {
  color: white;
  background-color: #282c34;
}

.select-option {
  text-indent: 20%;
}

#mainTitle {
  width: 80vw;
  text-align: center;
  font-size: 6vh;
}

#declaration {
  font-size: 3vh;
  width: 40vw;
}

#instaFollow,
#instaFollow > a {
  color: white;
  transition: linear 0.2s;
  font-size: 4vh;
}

#instaFollow:hover,
#instaFollow > a:hover {
  color: #2ad497;
}

#buttonRow {
  display: flex;
  flex-direction: row;
}

#questionStage {
  align-items: center;
  text-align: center;
  min-height: 10vh;
  background-color: #2ad497;
  border-radius: 25px 25px 0px 0px;
}

#questionBox {
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: white;
  border-radius: 25px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#copyButton,
#copyButton > a {
  color: black;
  transition: linear 0.2s;
  font-size: 2.5vh;
}

#copyButton:hover,
#copyButton > a:hover {
  color: white;
}

#stageText {
  font-size: 4.5vh;
  justify-content: center;
}

#questionStage > div {
  width: 70vw;
  margin: 0px auto;
}

@media only screen and (max-width: 800px) {
  #buttonRow {
    display: flex;
    flex-direction: column;
  }

  .grid-column {
    width: 60vw;
    margin: 1.5vh auto;
  }

  .select-option {
    text-indent: 10%;
  }
}

/* Loading spinner */
@keyframes ldio-2yu5yxxb1ks {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes ldio-2yu5yxxb1ks-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}
@keyframes ldio-2yu5yxxb1ks-c {
  0% {
    background: #e15b64;
  }
  25% {
    background: #abbd81;
  }
  50% {
    background: #f8b26a;
  }
  75% {
    background: #f47e60;
  }
  100% {
    background: #e15b64;
  }
}
.ldio-2yu5yxxb1ks div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  background: #e15b64;
  animation: ldio-2yu5yxxb1ks 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-2yu5yxxb1ks div:nth-child(1) {
  background: #f47e60;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-2yu5yxxb1ks-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-2yu5yxxb1ks-c 1s infinite step-start;
}
.ldio-2yu5yxxb1ks div:nth-child(2) {
  animation-delay: -0.25s;
  background: #e15b64;
}
.ldio-2yu5yxxb1ks div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f47e60;
}
.ldio-2yu5yxxb1ks div:nth-child(4) {
  animation-delay: -0.75s;
  background: #f8b26a;
}
.ldio-2yu5yxxb1ks div:nth-child(5) {
  animation-delay: -1s;
  background: #abbd81;
}
.loadingio-spinner-ellipsis-7bx0yc9t2ep {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-2yu5yxxb1ks {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2yu5yxxb1ks div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
